@{
  Layout = "_Layout";
}

@model HairSalon.Models.Cuisine
@using HairSalon.Models

<h2>Restaurants serving this cuisine</h2>
<hr />
<h4>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)<h4>
<h5>@Html.DisplayNameFor(model => model.SpiceLevel): @Html.DisplayFor(model => model.SpiceLevel)</h5>
<h5>@Html.DisplayNameFor(model => model.Continent): @Html.DisplayFor(model => model.Continent)</h5>

<br>

<div class="restaurants">
  <h5>Restaurants serving this cuisine</h5>
  <ul>
    @foreach (Restaurant restaurant in Model.Restaurants)
    {
      <li>@Html.ActionLink(restaurant.Name, "Details", "Restaurants", new { id = restaurant.RestaurantId })</li>
    }
  </ul>
</div>

<p>@Html.ActionLink("Edit Cuisine", "Edit", new { id = Model.CuisineId })</p>
<p>@Html.ActionLink("Delete Cuisine", "Delete", new { id = Model.CuisineId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>