@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<h2>Clients for this stylist</h2>
<hr />
<h4>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h4>
<p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>

<br>

<div class="clients">
  <h5>Clients for this stylist</h5>
  <ul>
    @foreach (Client client in Model.Clients)
    {
      <li>@Html.ActionLink(client.Name, "Details", "Clients", new { id = client.ClientId })</li>
    }
  </ul>
</div>

<buttton>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</button>
<button>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</button>