@* @{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Client

<h1>Add a client</h1>
<div class="form-group">
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class= "form-control", required = "required" })
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.PricePoint) 
    <select id="PricePoint" name="PricePoint" class="form-control">
      <option value="1">$</option>
      <option value="2">$$</option>
      <option value="3">$$$</option>
      <option value="4">$$$$</option>
      <option value="5">$$$$$</option>
    </select>
  </div>
  <div class="form-group">
  @Html.LabelFor(model => model.Vegan) 
  <select id="Vegan" name="Vegan" class="form-control">
    <option value="false">No</option>
    <option value="true">Yes</option>
  </select>
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")
  </div>
  
  <input type="submit" value="Add new Client" />
}
</div>
<p>@Html.ActionLink("Show all clients", "Index")</p> *@